## Please, duplicate this file on the same directory and rename it ".env". 
## That will be the real .env-file that lets you configure this project. 
## Then you can change variable values and follow instructions below according to your needs. 


## To delete a portion of the data base from the end:
## 1. Set a cutoff height (block-number),
## 2. uncomment the variables SUB_COMMAND and CUTOFF_HEIGHT
## 3. re-run the project via `yarn dev` and wait for the project to crash
## 4. comment the variables out again
## 5. Done! You can re-run the project normally again. 
#SUB_COMMAND=reindex
#CUTOFF_HEIGHT=4300000

## Start your data base from a higher block
## If this variable is not set, the starting block would be 1
START_BLOCK=500000

## API Keys for the KILT-mainnet "Spiritnet" RPC Endpoints:
## API Keys for the KILT-mainnet "Spiritnet" RPC Endpoints:
DWELLIR_KEY=
ONFINALITY_KEY=

## Set to true to work with the KILT-testnet "Peregrine"
CRAWL_PEREGRINE=

## Use BOTLabs private peregrine node: 
## Only while running on internal server
PRIVATE_NODE_ENABLE= 
PRIVATE_NODE_NET_NAME=
